 body {
 font-family: Arial, sans-serif;
 height: 100%;
 margin: 0;
 padding: 0;
}

.container {
 height: 100%;
 position: relative;
 }

.menu {
  background: #fff;
  height: 50%;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 23%;
}

.locations {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  width:340px;
}

.location-item {
  cursor: pointer;
  background-color: #ffa3d1;
  padding: 10px;
  text-align: center;
  margin: 2vh 0;
}

#mapRJ {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

@media (max-width: 700px){

  #mapRJ{
  position:unset;
}

}







