html,
body {
  font-family: Arial, Sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapRJ {
  height: 70%;
  width: 100%;
 }

.filter {
  height: 30px;
  width: 20%;
  font-size: 15px;
  text-align: center;
  float:center;
}

.locations {
  overflow: auto;
  font-weight: bold;
  color: rgb(136, 28, 113);
  height: 25%;
  overflow: auto;
  top: 85px;
  left: 5%;
  width: 100%;
  background-color: rgb(18, 216, 223);
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}





